@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --dx3rd-c-dark: #2d2d2d;
  --dx3rd-c-faint: #c9c7b8;
  --dx3rd-c-beige: #b5b3a4;
  --dx3rd-c-tan: #444444;
  --dx3rd-c-white: #ffffff;
  --dx3rd-c-black: #000000;
  --dx3rd-c-groove: #eeede0;
}

/*
.theme-dark {
  --dx3rd-c-dark: #c9c7b8;
  --dx3rd-c-faint: #191813;
  --dx3rd-c-beige: #444444;
  --dx3rd-c-tan: #b5b3a4;
  --dx3rd-c-white: #000000;
  --dx3rd-c-black: #ffffff;
  --dx3rd-c-groove: #11121f;
}*/
/* Start of glitchy styles used for Encroach-related text. Credit to https://github.com/Eranziel/foundryvtt-lancer/blob/9fddbe556c39668a668999315c80fbd2a91ffd5c/src/lancer.scss#L1616 for the animations. */
/* Animations*/
@keyframes distort-very-subtle {
  25% {
    text-shadow: none;
  }
  26% {
    text-shadow: 1px -1px rgba(255, 0, 0, 0.5), -1px 2px rgba(0, 255, 255, 0.5);
  }
  27% {
    text-shadow: -1px -2px rgba(255, 0, 0, 0.5), 1px 1px rgba(0, 255, 255, 0.5);
  }
  28% {
    text-shadow: 1px 1px rgba(255, 0, 0, 0.5), -2px 1px rgba(0, 255, 255, 0.5);
  }
  29% {
    text-shadow: -2px 1px rgba(255, 0, 0, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
  }
  30% {
    text-shadow: none;
  }
  75% {
    text-shadow: none;
  }
  76% {
    text-shadow: -2px 1px rgba(255, 0, 0, 0.5), -1px -1px rgba(0, 255, 255, 0.5);
  }
  77% {
    text-shadow: -1px -2px rgba(255, 0, 0, 0.5), 1px 1px rgba(0, 255, 255, 0.5);
  }
  78% {
    text-shadow: 1px -1px rgba(255, 0, 0, 0.5), -1px 2px rgba(0, 255, 255, 0.5);
  }
  79% {
    text-shadow: 1px 1px rgba(255, 0, 0, 0.5), -2px 1px rgba(0, 255, 255, 0.5);
  }
  80% {
    text-shadow: none;
  }
}
@keyframes distort-subtle {
  25% {
    text-shadow: none;
  }
  26% {
    text-shadow: 2px -1px #ff0000, -2px 3px #00ffff;
  }
  27% {
    text-shadow: -2px -3px #ff0000, 2px 1px #00ffff;
  }
  28% {
    text-shadow: 2px 1px #ff0000, -4px 1px #00ffff;
  }
  29% {
    text-shadow: -4px 1px #ff0000, -2px -1px #00ffff;
  }
  30% {
    text-shadow: none;
  }
  75% {
    text-shadow: none;
  }
  76% {
    text-shadow: -4px 1px #ff0000, -2px -1px #00ffff;
  }
  77% {
    text-shadow: -2px -3px #ff0000, 2px 1px #00ffff;
  }
  78% {
    text-shadow: 2px -1px #ff0000, -2px 3px #00ffff;
  }
  79% {
    text-shadow: 2px 1px #ff0000, -4px 1px #00ffff;
  }
  80% {
    text-shadow: none;
  }
}
@keyframes distort {
  0% {
    text-shadow: 2px 1px #ff00ff, -2px -3px #00ffff;
    cursor: crosshair;
  }
  25% {
    text-shadow: -2px -3px #ff00ff, 2px 1px #00ffff;
    cursor: cell;
  }
  50% {
    text-shadow: 2px -1px #ff00ff, -4px 1px #00ffff;
    cursor: col-resize;
  }
  75% {
    text-shadow: -4px -1px #ff00ff, -2px -1px #00ffff;
    cursor: move;
  }
  100% {
    text-shadow: -2px 0 #ff00ff, 2px -1px #00ffff;
    cursor: all-scroll;
  }
}
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: var(--dx3rd-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-13col {
  grid-column: span 13/span 13;
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

.grid-14col {
  grid-column: span 14/span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.grid-15col {
  grid-column: span 15/span 15;
  grid-template-columns: repeat(15, minmax(0, 1fr));
}

.grid-16col {
  grid-column: span 16/span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-start-13 {
  grid-column-start: 13;
}

.grid-start-14 {
  grid-column-start: 14;
}

.grid-start-15 {
  grid-column-start: 15;
}

.grid-start-16 {
  grid-column-start: 16;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-span-13 {
  grid-column-end: span 13;
}

.grid-span-14 {
  grid-column-end: span 14;
}

.grid-span-15 {
  grid-column-end: span 15;
}

.grid-span-16 {
  grid-column-end: span 16;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to dx3rd sheets */
.dx3rd .item-form {
  font-family: "Roboto", sans-serif;
}
.dx3rd .sheet-header {
  flex: 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.dx3rd .sheet-header .profile-img {
  grid-row: span 2;
  grid-column: span 2;
  text-align: center;
  border: 1px solid var(--dx3rd-c-black);
}
.dx3rd .sheet-header .header-fields {
  flex: 1;
}
.dx3rd .sheet-tabs {
  flex: 0;
}
.dx3rd .sheet-body,
.dx3rd .sheet-body .tab,
.dx3rd .sheet-body .tab .editor {
  height: 100%;
}
.dx3rd .tab {
  max-height: 400px;
}
.dx3rd .tab.biography {
  flex: 1;
}
.dx3rd .tab.biography .editor {
  height: 100%;
}
.dx3rd .tox .tox-editor-container {
  background: var(--dx3rd-c-white);
}
.dx3rd .tox .tox-edit-area {
  padding: 0 8px;
}
.dx3rd .resource-label {
  font-weight: bold;
}
.dx3rd .ability {
  margin-bottom: 2px;
}
.dx3rd .ability-score,
.dx3rd .ability-mod {
  flex: 0 0 44px;
}
.dx3rd .skew::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: sKewX(342deg);
}
.dx3rd .diamond::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(45deg);
  border: 1px solid;
}
.dx3rd .stat-box {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 0px;
  flex: 1;
}
.dx3rd .stat-label {
  display: flex;
  position: relative;
  background: transparent;
  color: var(--dx3rd-c-white);
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 1rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.dx3rd .stat-label::before {
  z-index: -1;
  background: var(--dx3rd-c-black);
}
.dx3rd .stat::before {
  z-index: 0;
  background: var(--dx3rd-c-white);
  border: 1px solid var(--dx3rd-c-black);
}
.dx3rd .stat input {
  background: rgba(0, 0, 0, 0);
  border: none !important;
  outline-color: rgba(0, 0, 0, 0) !important;
  z-index: 1;
  text-align: center;
  position: relative;
  box-shadow: none;
}
.dx3rd .stat-long {
  grid-template-columns: 1fr 6fr;
}
.dx3rd .stat-mid {
  grid-template-columns: 3fr 4fr;
}
.dx3rd input.name {
  text-align: left;
}
.dx3rd .stat-box.dice {
  height: 2rem;
}
.dx3rd input.diceval {
  position: absolute;
  height: 1.8rem;
  top: 0.2rem;
  right: 1rem;
  background-color: var(--dx3rd-c-white);
  width: 2rem;
  text-align: center;
}
.dx3rd .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--dx3rd-c-groove);
  font-weight: bold;
}
.dx3rd .items-header > * {
  font-size: 14px;
  text-align: center;
}
.dx3rd .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.dx3rd .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--dx3rd-c-tan);
}
.dx3rd .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dx3rd .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.dx3rd .items-list .item-name h3, .dx3rd .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.dx3rd .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.dx3rd .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.dx3rd .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--dx3rd-c-faint);
}
.dx3rd .items-list .item:last-child {
  border-bottom: none;
}
.dx3rd .items-list .item .item-name {
  color: var(--dx3rd-c-dark);
}
.dx3rd .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.dx3rd .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.dx3rd .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--dx3rd-c-groove);
  font-weight: bold;
}
.dx3rd .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.dx3rd .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.dx3rd .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.dx3rd .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--dx3rd-c-groove);
  font-weight: bold;
}
.dx3rd .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.dx3rd .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.dx3rd .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--dx3rd-c-tan);
}
.dx3rd .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dx3rd .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.dx3rd .effects-list .effect-name h3, .dx3rd .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.dx3rd .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.dx3rd .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.dx3rd .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--dx3rd-c-faint);
}
.dx3rd .effects-list .effect:last-child {
  border-bottom: none;
}
.dx3rd .effects-list .effect .effect-name {
  color: var(--dx3rd-c-dark);
}
.dx3rd .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.dx3rd .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.dx3rd .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--dx3rd-c-groove);
  font-weight: bold;
}
.dx3rd .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.dx3rd .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.dx3rd .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.dx3rd .effects .item .effect-source,
.dx3rd .effects .item .effect-duration,
.dx3rd .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.dx3rd .effects .item .effect-controls {
  border: none;
}
.dx3rd .encroach-bar {
  width: 100%;
  margin-top: 0px;
  height: 44px;
  background: var(--dx3rd-c-dark);
  color: var(--dx3rd-c-white);
  gap: 0px 10px;
  padding: 0;
  align-items: center;
}
.dx3rd .encroach-bar .backtrack-btn * {
  background: var(--dx3rd-c-black);
  font-weight: bold;
  color: var(--dx3rd-c-white);
  line-height: 22px;
  border: 2px solid var(--dx3rd-c-white);
  border-radius: 0px;
}
.dx3rd .encroach-bar .encroach-title {
  justify-self: center;
}
.dx3rd .encroach-bar .encroach-title * {
  border: 0.5px solid var(--dx3rd-c-white);
  border-radius: 0px;
  width: 8rem;
}
.dx3rd .encroach-bar .progress-bar {
  text-align: center;
  position: relative;
}
.dx3rd .encroach-bar .progress-bar input {
  font-weight: bold;
  color: var(--dx3rd-c-white);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.dx3rd .encroach-bar .progress-bar .dice-addon {
  position: absolute;
  left: 0.5rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.dx3rd .encroach-bar .progress-bar .encroach-value {
  font-size: 22px;
  border: 2px solid var(--dx3rd-c-white);
}/*# sourceMappingURL=dx3rd.css.map */