<div class="dialog-content">
  <h2 style="display: flex; font-weight: bold;">
    
    <div class="header-fields flexrow">
      <img class="" id = "pfp" src="{{src}}" data-edit="src"/>
      <h1 class="charname"><input id = "name" name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
    </div>
    <span style="border: 4px double; height: 100%; padding: 0 7px; font-size: 18px;">
      <span>
        <span id="amount-disp">{{amount}}</span><span> / {{max}} </span>
      </span>
      <span style="margin-left: 7px;">
        <i class="fas fa-heart-crack" style="color: black"></i>
        <span id="proj-encroach">{{proj_encroach}}</span>
      </span>
    </span>
  </h2>
  
  <table>
    <tr>
      <th>{{localize "DX3rd.CreationAmount"}}</th>
      <td><input type="checkbox" id="creation-max" {{#unless creationCheck}} disabled {{/unless}}></td>
      <td colspan="4"><input type="number" id="amount" value="{{amount}}" max="{{limit}}" min="0" ></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.ServantMax"}}</th>
      <td><input type="checkbox" id="max" {{#unless maxCheck}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.CreateItems"}}</th>
      <td><input type="checkbox" id="create-items" {{#unless createItems}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.CanUseNormalItems"}}</th>
      <td><input type="checkbox" id="can-use-items" {{#unless canUseNormalItems}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.CreateReady"}}</th>
      <td><input type="checkbox" id="create-ready" {{#unless preActionCreate}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.IncreaseBaseStats"}}</th>
      <td><input type="checkbox" id="increase-base" {{#unless increaseBaseStats}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.IncreaseMaxHP"}}</th>
      <td><input type="checkbox" id="increase-hp" {{#unless increaseMaxHP}} disabled {{/unless}}></td>
    </tr>
    <tr>
      <th>{{localize "DX3rd.CopyTarget"}}</th>
      <td><input type="checkbox" id="copy-target" {{#unless copyTarget}} disabled {{/unless}}></td>
    </tr>
    

  </table>

</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
