<form class="{{cssClass}} item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="level">
        <label>{{localize "DX3rd.Level"}}</label>
        <input name="system.level.value" type="text" value="{{system.level.value}}" disabled />
      </div>
      <div class="level">
        <label>{{localize "DX3rd.Syndrome"}}</label>
        <select name="system.syndrome">
          {{#select system.syndrome}}
          <option value="-">-</option>
          <option value="Angel Halo">Angel Halo</option>
          <option value="Balor">Balor</option>
          <option value="Black Dog">Black Dog</option>
          <option value="Bram Stoker">Bram Stoker</option>
          <option value="Chimaera">Chimaera</option>
          <option value="Exile">Exile</option>
          <option value="Hanuman">Hanuman</option>
          <option value="Morpheus">Morpheus</option>
          <option value="Neumann">Neumann</option>
          <option value="Orcus">Orcus</option>
          <option value="Salamandra">Salamandra</option>
          <option value="Solaris">Solaris</option>
          <option value="Ouroboros">Ouroboros</option>
          <option value="Common">Common</option>
          <option value="Renegade Being">Renegade Being</option>
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "DX3rd.Description" }}</a>
    <a class="item" data-tab="attributes">{{localize "DX3rd.Attributes" }}</a>
    <a class="item" data-tab="target">{{localize "DX3rd.Target" }}</a>
    <a class="item" data-tab="special">{{localize "DX3rd.Special" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="sheet-wrapper margin-top-10">
        <section class="sheet-attributes">
          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Skill"}}
            </label>
            <select name="system.skill">
              {{#select system.skill}}
              <option value="-">-</option>
              {{#each system.actorSkills as |value key|}}
              <option value="{{key}}">{{skill value.name}}</option>
              {{/each}}
              <option value="syndrome">{{localize "DX3rd.Syndrome"}}</option>
              <option value="body">{{localize "DX3rd.Body"}}</option>
              <option value="sense">{{localize "DX3rd.Sense"}}</option>
              <option value="mind">{{localize "DX3rd.Mind"}}</option>
              <option value="social">{{localize "DX3rd.Social"}}</option>
              <option value="text">{{localize "DX3rd.Text"}}</option>
              {{/select}}
            </select>

          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Difficulty"}}
            </label>
            <input type="text" name="system.difficulty" value="{{system.difficulty}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Limit"}}
            </label>
            <input type="text" name="system.limit" value="{{system.limit}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4 space-between">
            <label class="cell--title">
              {{localize "DX3rd.Level"}}
              <input type="checkbox" class="cell--crit" name="system.level.upgrade" {{#if system.level.upgrade}} checked {{/if}}>
            </label>
            <div class="flex">
              <input type="text" name="system.level.init" value="{{system.level.init}}" data-dtype="Number"/>
              <span class="slash"> / </span>
              <input type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Timing"}}
            </label>
            <select name="system.timing">
              {{#select system.timing}}
              <option value="-">-</option>
              <option value="minor">{{localize "DX3rd.Minor"}}</option>
              <option value="major">{{localize "DX3rd.Major"}}</option>
              <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
              <option value="major-reaction">{{localize "DX3rd.Major"}} / {{localize "DX3rd.Reaction"}}</option>
              <option value="auto">{{localize "DX3rd.Auto"}}</option>
              <option value="setup">{{localize "DX3rd.Setup"}}</option>
              <option value="cleanup">{{localize "DX3rd.Cleanup"}}</option>
              <option value="initiative">{{localize "DX3rd.Initiative"}}</option>
              <option value="always">{{localize "DX3rd.Always"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Range"}}
            </label>
            <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Target"}}
            </label>
            <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/>
          </div>

          <div class="cell grid-4">
            <label class="cell--title">
              {{localize "DX3rd.Encroach"}}
            </label>
            <div class="flex">
              <input type="text" name="system.encroach.value" value="{{system.encroach.value}}" data-dtype="String"/>
              <span class="slash"> / </span>
              <input type="text" name="system.encroach.init" value="{{system.encroach.init}}" data-dtype="Number"/>
            </div>
          </div>

        </section>
        <!--uses lol-->
        <div class="cell cell--uses space-between" >
          <label class="cell--title">
            {{localize "DX3rd.Uses"}}
            <input type="checkbox" name="system.uses.active" {{#if system.uses.active}} checked {{/if}} data-dtype="Boolean"/>
          </label>
          {{#if system.uses.active}}
          <div class="flex">
            <input class = "small" type="text" name="system.uses.current" value="{{system.uses.current}}" data-dtype="Number"/>
            <span class="slash"> / </span>
            <input class = "small" type="text" name="system.uses.max" value="{{system.uses.max}}" disabled data-dtype="Number"/>
            <input class = "big" type="text" name="system.uses.formula_max" value="{{system.uses.formula_max}}" placeholder = "Formula" data-dtype="String"/>
            <span class="slash"> / </span>
            <select name="system.uses.formula_timing" data-dtype="String">
              {{#select system.uses.formula_timing}}
              <option value="-">-</option>
              <option value="turn">{{localize "DX3rd.Turn"}}</option>
              <option value="use">{{localize "DX3rd.Use"}}</option>
              <option value="round">{{localize "DX3rd.Round"}}</option>
              <option value="battle">{{localize "DX3rd.Scene"}}</option>
              <option value="session">{{localize "DX3rd.Session"}}</option>
              <option value="guard">{{localize "DX3rd.Guard"}}</option>
              {{/select}}
            </select>
          </div>
          
          {{/if}}
          
        </div>

        <div class="cell cell--bio">
          <label class="cell--title">
            <select class="left-addon" name="system.type" data-dtype="String">
              {{#select system.type}}
              <option value="normal">{{localize "DX3rd.Effect"}}</option>
              <option value="easy">{{localize "DX3rd.Easy"}}</option>
              {{/select}}
            </select>


            {{localize "DX3rd.Description"}}
            <div class="checkbox-addon flexrow">
              <span>{{localize "DX3rd.EXP"}} </span>
              <input type="checkbox" name="system.exp.own" {{#if system.exp.own}} checked {{/if}} data-dtype="Boolean"/>
              <input type="checkbox" name="system.exp.upgrade" {{#if system.exp.upgrade}} checked {{/if}} data-dtype="Boolean"/>
            </div>
          </label>
          {{!-- We're avoiding WYSIWYGs... for now... --}}
          {{editor enrichedBiography target="system.description" button=true editable=editable }}
        </div>

        
        

      </div>

    </div>

    {{!-- Attributes Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="sheet-wrapper margin-top-10">
        <table>
          <tr>
            <th><span>{{localize "DX3rd.RollType"}}</span></th>
            <td>
              <select name="system.roll" data-dtype="String">
                {{#select system.roll}}
                <option value="-">-</option>
                <option value="major">{{localize "DX3rd.Major"}}</option>
                <option value="reaction">{{localize "DX3rd.Reaction"}}</option>
                <option value="dodge">{{localize "DX3rd.DodgeRoll"}}</option>
                {{/select}}
              </select>
            </td>
            <th><label for="system.macro">{{localize "DX3rd.Macro"}}</label></th>
            <td colspan="5"><input type="text" name="system.macro" data-dtype="String" value="{{system.macro}}"></td>
          </tr>
          
          <tr>
            <th><span>{{localize "DX3rd.AttackRoll"}}</span></th>
            <td>
              <select name="system.attackRoll" data-dtype="String" style="width: calc(100% - 17px);">
                {{#select system.attackRoll}}
                <option value="-">-</option>
                <option value="melee">{{localize "DX3rd.Melee"}}</option>
                <option value="ranged">{{localize "DX3rd.Ranged"}}</option>
                {{/select}}
              </select>
            </td>
            <th><span>{{localize "DX3rd.Active"}}</span></th>
            <td><input type="checkbox" name="system.active.state" {{#if system.active.state}} checked {{/if}}></td>
            <th><span>{{localize "DX3rd.DisableTiming"}}</span></th>
            <td>
              <select name="system.active.disable" data-dtype="String">
                {{#select system.active.disable}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                <option value="session">{{localize "DX3rd.AfterSession"}}</option>
                <option value="guard">{{localize "DX3rd.AfterGuard"}}</option>
                {{/select}}
              </select>
            </td>

          </tr>
          <tr>
            <th><span>{{localize "DX3rd.ModHPActive"}}</span></th>
            <td><input type="checkbox" name="system.modHP.active" {{#if system.modHP.active}} checked {{/if}}></td>
            <th><span>{{localize "DX3rd.ModHP"}}</span></th>
            <td><input type="text" name="system.modHP.value" value="{{system.modHP.value}}" data-dtype="String"/></td>
            <th><span>{{localize "DX3rd.ModHPTiming"}}</span></th>
            <td>
              <select name="system.modHP.timing" data-dtype="String">
                {{#select system.modHP.timing}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                <option value="session">{{localize "DX3rd.AfterSession"}}</option>
                <option value="guard">{{localize "DX3rd.AfterGuard"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.ModEncroachActive"}}</span></th>
            <td><input type="checkbox" name="system.modEncroach.active" {{#if system.modEncroach.active}} checked {{/if}}></td>
            <th><span>{{localize "DX3rd.ModEncroach"}}</span></th>
            <td><input type="text" name="system.modEncroach.value" value="{{system.modEncroach.value}}" data-dtype="String"/></td>
            <th><span>{{localize "DX3rd.ModEncroachTiming"}}</span></th>
            <td>
              <select name="system.modEncroach.timing" data-dtype="String">
                {{#select system.modEncroach.timing}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                <option value="session">{{localize "DX3rd.AfterSession"}}</option>
                <option value="guard">{{localize "DX3rd.AfterGuard"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.CheckSyndrome"}}</span></th>
            <td><input type="checkbox" name="system.checkSyndrome" {{#if system.checkSyndrome}} checked {{/if}}></td>
            <th><span>{{localize "DX3rd.CheckAttackType"}}</span></th>
            <td>
              <select name = "system.typeCheck">
                {{#select system.typeCheck}}
                <option value="-">-</option>
                <option value="melee">{{localize "DX3rd.Melee"}}</option>
                <option value="ranged">{{localize "DX3rd.Ranged"}}</option>
                {{/select}}
              </select>
            </td>
            <th><span>{{localize "DX3rd.CheckAttackTarget"}}</span></th>
            <td>
              <select name = "system.targetCheck">
                {{#select system.targetCheck}}
                <option value="-">-</option>
                <option value="single">{{localize "DX3rd.Single"}}</option>
                <option value="multi">{{localize "DX3rd.Multi"}}</option>
                {{/select}}
              </select>
            </td>
            
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.AttackTarget"}}</span></th>
            <td>
              <select name = "system.attackTarget">
                {{#select system.attackTarget}}
                <option value="-">-</option>
                <option value="single">{{localize "DX3rd.Single"}}</option>
                <option value="multi">{{localize "DX3rd.Multi"}}</option>
                {{/select}}
              </select>
            </td>

            <th><span>{{localize "DX3rd.ServantEffect"}}</span></th>
            <td><input type="checkbox" name="system.servant.effect" {{#if system.servant.effect}} checked {{/if}}></td>

            <th><span>{{localize "DX3rd.ServantOnly"}}</span></th>
            <td><input type="checkbox" name="system.servant.only" {{#if system.servant.only}} checked {{/if}}></td>

          </tr>
        </table>


        <div class="attributes">
          <header class="attributes-header flexrow">
            <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
            <span class="attribute-value">{{localize "DX3rd.Value"}}</span>
            <span class="attribute-roll-value">{{localize "DX3rd.RollValue"}}</span>
            <span class="attribute-roll-formula">{{localize "DX3rd.RollFormula"}}</span>
            <a class="attribute-control" data-action="create" data-pos="main" data-type="attributes"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="attributes-list">
          {{#each system.attributes as |attr key|}}
            <li class="attribute flexrow" data-attribute="{{key}}">
              <select class="attribute-key" name="system.attributes.{{key}}.key" data-dtype="String">
                {{#select key}}
                <option value="-">-</option>
                <option value="attack">{{localize "DX3rd.Attack"}}</option>
                <option value="dice">{{localize "DX3rd.Dice"}}</option>
                <option value="add">{{localize "DX3rd.Add"}}</option>
                <option value="critical">{{localize "DX3rd.Critical"}}</option>
                <option value="critical_min">{{localize "DX3rd.CriticalMin"}}</option>

                <option value="hp">{{localize "DX3rd.HP"}}</option>
                <option value="init">{{localize "DX3rd.Init"}}</option>
                <option value="armor">{{localize "DX3rd.Armor"}}</option>
                <option value="guard">{{localize "DX3rd.Guard"}}</option>
                <option value="saving">{{localize "DX3rd.Saving"}}</option>
                <option value="move">{{localize "DX3rd.Move"}}</option>

                <option value="major_dice">{{localize "DX3rd.MajorDice"}}</option>
                <option value="major">{{localize "DX3rd.MajorAdd"}}</option>
                <option value="major_critical">{{localize "DX3rd.MajorCritical"}}</option>
                <option value="reaction_dice">{{localize "DX3rd.ReactionDice"}}</option>
                <option value="reaction">{{localize "DX3rd.ReactionAdd"}}</option>
                <option value="reaction_critical">{{localize "DX3rd.ReactionCritical"}}</option>
                <option value="dodge_dice">{{localize "DX3rd.DodgeDice"}}</option>
                <option value="dodge">{{localize "DX3rd.DodgeAdd"}}</option>
                <option value="dodge_critical">{{localize "DX3rd.DodgeCritical"}}</option>

                <option value="body_add">{{localize "DX3rd.BodyAdd"}}</option>
                <option value="body_dice">{{localize "DX3rd.BodyDice"}}</option>
                <option value="sense_add">{{localize "DX3rd.SenseAdd"}}</option>
                <option value="sense_dice">{{localize "DX3rd.SenseDice"}}</option>
                <option value="mind_add">{{localize "DX3rd.MindAdd"}}</option>
                <option value="mind_dice">{{localize "DX3rd.MindDice"}}</option>
                <option value="social_add">{{localize "DX3rd.SocialAdd"}}</option>
                <option value="social_dice">{{localize "DX3rd.SocialDice"}}</option>
                {{/select}}
              </select>

              <input class="attribute-value" type="text" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
              <input class="attribute-value" type="text" name="system.attributes.{{key}}.rollvalue" value="{{attr.rollvalue}}" readonly data-dtype="Number"/>
              <input class="attribute-value" type="text" name="system.attributes.{{key}}.rollformula" value="{{attr.rollformula}}" data-dtype="String"/>
              <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </li>
          {{/each}}
          </ol>
        </div>

      </div>
    </div>

    {{!-- Target Tab --}}
    <div class="tab" data-group="primary" data-tab="target">
      <div class="sheet-wrapper margin-top-10">
        <table>
          <tr>
            <th><span>{{localize "DX3rd.Target"}}</span> </th>
            <td><input type="checkbox" name="system.getTarget" {{#if system.getTarget}} checked {{/if}}></td>
            
            <th><span>{{localize "DX3rd.DisableTiming"}}</span></th>
            <td>
              <select name="system.effect.disable" data-dtype="String">
                {{#select system.effect.disable}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.ModHP"}}</span></th>
            <td><input type="text" name="system.effect.modHP.value" value="{{system.effect.modHP.value}}" data-dtype="String"/></td>
            <th><span>{{localize "DX3rd.ModHPTiming"}}</span></th>
            <td>
              <select name="system.effect.modHP.timing" data-dtype="String">
                {{#select system.effect.modHP.timing}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <th><span>{{localize "DX3rd.ModEncroach"}}</span></th>
            <td><input type="text" name="system.effect.modEncroach.value" value="{{system.effect.modEncroach.value}}" data-dtype="String"/></td>
            <th><span>{{localize "DX3rd.ModEncroachTiming"}}</span></th>
            <td>
              <select name="system.effect.modEncroach.timing" data-dtype="String">
                {{#select system.effect.modEncroach.timing}}
                <option value="-">-</option>
                <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                {{/select}}
              </select>
            </td>
          </tr>

          <tr>
            <!--This is for per-attack modifiers to reactions/dodge/guard. Other per-attack stat modifiers should be done via timing hooks-->
            <th><span>{{localize "DX3rd.ModReaction"}}</span> </th>
            <td><input type="text" name="system.effect.modReaction" value="{{system.effect.modReaction}}" data-dtype="String"/></td>
            <th><span>{{localize "DX3rd.ModCritical"}}</span> </th>
            <td><input type="text" name="system.effect.modCritical" value="{{system.effect.modCritical}}" data-dtype="String"/></td>
        </table>

        <!--Statuses -->
        <div class="statuses">
          <header class="statuses-header flexrow">
            <span class="statuses-key">{{localize "DX3rd.Name"}}</span>
            <span class="attribute-value">{{localize "DX3rd.Value"}}</span>
            <a class="status-control" data-action="create" data-pos="sub" data-type="attributes"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="statuses-list">
          {{#each system.effect.statuses as |attr key|}}
            <li class="status flexrow" data-attribute="{{key}}">
              <select class="status-key" name="system.effect.statuses.{{key}}.key" data-dtype="String">
                {{#select key}}
                <option value="-">-</option>
                <option value="pressure">{{localize "DX3rd.Pressure"}}</option>
                <option value="rigor">{{localize "DX3rd.Rigor"}}</option>
                <option value="taint">{{localize "DX3rd.Taint"}}</option>
                <option value="dazed">{{localize "DX3rd.Dazed"}}</option>
                <option value="berserk">{{localize "DX3rd.Berserk"}}</option>
                <option value="hatred">{{localize "DX3rd.Hatred"}}</option>
                {{/select}}
              </select>

              <input class="status-value" type="text" name="system.effect.statuses.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
              <input class="attribute-value" type="checkbox" name="system.effect.statuses.{{key}}.hitcheck" {{#if attr.hitcheck}} checked {{/if}} />
              <input class="attribute-value" type="checkbox" name="system.effect.statuses.{{key}}.dmgcheck" {{#if attr.dmgcheck}} checked {{/if}} />

              <a class="status-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </li>
          {{/each}}
          </ol>
        </div>

        <div class="attributes-t">
          <header class="attributes-header flexrow">
            <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
            <span class="attribute-value">{{localize "DX3rd.Value"}}</span>
            <span class="attribute-roll-value">{{localize "DX3rd.RollValue"}}</span>
            <span class="attribute-roll-formula">{{localize "DX3rd.RollFormula"}}</span>
            <span class="attribute-conditional">{{localize "DX3rd.Conditional"}}</span>
            <a class="attribute-control" data-action="create" data-pos="sub" data-type="attributes"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="attributes-list">
          {{#each system.effect.attributes as |attr key|}}
            <li class="attribute flexrow" data-attribute="{{key}}">
              <select class="attribute-key" name="system.effect.attributes.{{key}}.key" data-dtype="String">
                {{#select key}}
                <option value="-">-</option>
                <option value="attack">{{localize "DX3rd.Attack"}}</option>
                <option value="dice">{{localize "DX3rd.Dice"}}</option>
                <option value="add">{{localize "DX3rd.Add"}}</option>
                <option value="critical">{{localize "DX3rd.Critical"}}</option>
                <option value="critical_min">{{localize "DX3rd.CriticalMin"}}</option>

                <option value="hp">{{localize "DX3rd.HP"}}</option>
                <option value="init">{{localize "DX3rd.Init"}}</option>
                <option value="armor">{{localize "DX3rd.Armor"}}</option>
                <option value="guard">{{localize "DX3rd.Guard"}}</option>
                <option value="saving">{{localize "DX3rd.Saving"}}</option>
                <option value="move">{{localize "DX3rd.Move"}}</option>

                <option value="major_dice">{{localize "DX3rd.MajorDice"}}</option>
                <option value="major">{{localize "DX3rd.MajorAdd"}}</option>
                <option value="major_critical">{{localize "DX3rd.MajorCritical"}}</option>
                <option value="reaction_dice">{{localize "DX3rd.ReactionDice"}}</option>
                <option value="reaction">{{localize "DX3rd.ReactionAdd"}}</option>
                <option value="reaction_critical">{{localize "DX3rd.ReactionCritical"}}</option>
                <option value="dodge_dice">{{localize "DX3rd.DodgeDice"}}</option>
                <option value="dodge">{{localize "DX3rd.DodgeAdd"}}</option>
                <option value="dodge_critical">{{localize "DX3rd.DodgeCritical"}}</option>

                <option value="body_add">{{localize "DX3rd.BodyAdd"}}</option>
                <option value="body_dice">{{localize "DX3rd.BodyDice"}}</option>
                <option value="sense_add">{{localize "DX3rd.SenseAdd"}}</option>
                <option value="sense_dice">{{localize "DX3rd.SenseDice"}}</option>
                <option value="mind_add">{{localize "DX3rd.MindAdd"}}</option>
                <option value="mind_dice">{{localize "DX3rd.MindDice"}}</option>
                <option value="social_add">{{localize "DX3rd.SocialAdd"}}</option>
                <option value="social_dice">{{localize "DX3rd.SocialDice"}}</option>
                {{/select}}
              </select>

              <input class="attribute-value" type="text" name="system.effect.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
              <input class="attribute-value" type="text" name="system.effect.attributes.{{key}}.rollvalue" value="{{attr.rollvalue}}" readonly data-dtype="Number"/>
              <input class="attribute-value" type="text" name="system.effect.attributes.{{key}}.rollformula" value="{{attr.rollformula}}" data-dtype="String"/>
              <div>
                <input class="attribute-value" type="checkbox" name="system.effect.attributes.{{key}}.hitcheck" {{#if attr.hitcheck}} checked {{/if}} />
                <input class="attribute-value" type="checkbox" name="system.effect.attributes.{{key}}.dmgcheck" {{#if attr.dmgcheck}} checked {{/if}} />
              </div>
              <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </li>
          {{/each}}
          </ol>
        </div>

      </div>
    </div>

    {{!-- Special Tab --}}
    <div class="tab" data-group="primary" data-tab="special">
      <div class="sheet-wrapper margin-top-10">
        <!--Equipment Creation-->
        <div class="cell cell--uses space-between" >
          <label class="cell--title">
            {{localize "DX3rd.CreateEquipment"}}
            <input type="checkbox" name="system.createItem.active" {{#if system.createItem.active}} checked {{/if}} data-dtype="Boolean"/>
            <input type="checkbox" name="system.createItem.select" {{#if system.createItem.select}} checked {{/if}} data-dtype="Boolean"/>
            {{#if system.createItem.select}}
            <input type="text" name="system.createItem.count" value="{{system.createItem.count}}" data-dtype="String"/>
            {{/if}}
          </label>
          {{#if system.createItem.active}}
          <label class="cell--title">
            {{localize "DX3rd.Weapon"}}
          </label>
          <!--weapons-->
          <div class="weapon">
            <header class="equipment-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
              <span class="attribute-key">{{localize "DX3rd.EquipType"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Skill"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Add"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Attack"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Guard"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Range"}}</span>
              <span class="attribute-key">{{localize "DX3rd.EXP"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Saving"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Sell"}}</span>
              <span class="attribute-key">{{localize "DX3rd.DestroyTiming"}}</span>
              <a class="equipment-control" data-action="create" data-pos="weapons" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="equipment-list">
            {{#each system.createItem.weapons as |attr key|}}
              <li class="equip flexrow" data-attribute="{{key}}">
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                <select class="equip-key" name="system.createItem.weapons.{{key}}.equiptype" data-dtype="String">
                  {{#select equiptype}}
                  <option value="-">-</option>
                  <option value="melee">{{localize "DX3rd.Melee"}}</option>
                  <option value="ranged">{{localize "DX3rd.Ranged"}}</option>
                  {{/select}}
                </select>
                <select class="equip-key" name="system.createItem.weapons.{{key}}.skill" data-dtype="String">
                  {{#select skill}}
                  <option value="-">-</option>
                  {{#each ../system.actorSkills as |value key2|}}
                  <option value="{{key2}}">{{skill value.name}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.add" value="{{attr.add}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.attack" value="{{attr.attack}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.guard" value="{{attr.guard}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.range" value="{{attr.range}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.exp" value="{{attr.exp}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.stock" value="{{attr.stock}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.weapons.{{key}}.procure" value="{{attr.procure}}" data-dtype="Number"/>
                <select class="equip-value" name="system.createItem.weapons.{{key}}.timing" data-dtype="String">
                  {{#select timing}}
                  <option value="-">-</option>
                  <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                  <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                  <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                  <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                  <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                  <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                  <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                  <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                  {{/select}}
                </select>
                <a class="equipment-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>
          <label class="cell--title">
            {{localize "DX3rd.Protect"}}
          </label>
          <!--armor-->
          <div class="armor">
            <header class="equipment-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Dodge"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Init"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Armor"}}</span>
              <span class="attribute-key">{{localize "DX3rd.EXP"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Saving"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Sell"}}</span>
              <span class="attribute-key">{{localize "DX3rd.DestroyTiming"}}</span>
              <a class="equipment-control" data-action="create" data-pos="armor" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="equipment-list">
            {{#each system.createItem.armor as |attr key|}}
              <li class="equip flexrow" data-attribute="{{key}}">
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.dodge" value="{{attr.dodge}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.init" value="{{attr.init}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.armor" value="{{attr.armor}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.exp" value="{{attr.exp}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.stock" value="{{attr.stock}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.armor.{{key}}.procure" value="{{attr.procure}}" data-dtype="Number"/>
                <select class="equip-value" name="system.createItem.armor.{{key}}.timing" data-dtype="String">
                  {{#select timing}}
                  <option value="-">-</option>
                  <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                  <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                  <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                  <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                  <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                  <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                  <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                  <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                  {{/select}}
                </select>
                <a class="equipment-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>
          <label class="cell--title">
            {{localize "DX3rd.Vehicle"}}
          </label>
          <!--vehicles-->
          <div class="vehicles">
            <header class="equipment-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Skill"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Move"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Attack"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Armor"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Init"}}</span>
              <span class="attribute-key">{{localize "DX3rd.EXP"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Saving"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Sell"}}</span>
              <span class="attribute-key">{{localize "DX3rd.DestroyTiming"}}</span>
              <a class="equipment-control" data-action="create" data-pos="vehicles" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="equipment-list">
            {{#each system.createItem.vehicles as |attr key|}}
              <li class="equip flexrow" data-attribute="{{key}}">
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                <select class="equip-key" name="system.createItem.vehicles.{{key}}.skill" data-dtype="String">
                  {{#select skill}}
                  <option value="-">-</option>
                  {{#each ../system.actorSkills as |value key2|}}
                  <option value="{{key2}}">{{skill value.name}}</option>
                  {{/each}}
                  {{/select}}
                </select>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.move" value="{{attr.move}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.attack" value="{{attr.attack}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.armor" value="{{attr.guard}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.init" value="{{attr.init}}" data-dtype="String"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.exp" value="{{attr.exp}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.stock" value="{{attr.stock}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.vehicles.{{key}}.procure" value="{{attr.procure}}" data-dtype="Number"/>
                <select class="equip-value" name="system.createItem.vehicles.{{key}}.timing" data-dtype="String">
                  {{#select timing}}
                  <option value="-">-</option>
                  <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                  <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                  <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                  <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                  <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                  <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                  <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                  <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                  {{/select}}
                </select>
                <a class="equipment-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>
          <label class="cell--title">
            {{localize "DX3rd.Item"}} / {{localize "DX3rd.Once"}}
          </label>
          <!--items-->
          <div class="consumables">
            <header class="equipment-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Type"}}</span>
              <span class="attribute-key">{{localize "DX3rd.EXP"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Saving"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Sell"}}</span>
              <span class="attribute-key">{{localize "DX3rd.DestroyTiming"}}</span>
              <a class="equipment-control" data-action="create" data-pos="items" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="equipment-list">
            {{#each system.createItem.items as |attr key|}}
              <li class="equip flexrow" data-attribute="{{key}}">
                <input class="equip-value" type="text" name="system.createItem.items.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                <select name="system.createItem.items.{{key}}.type">
                  {{#select system.type}}
                  <option value="-">-</option>
                  <option value="etc">{{localize "DX3rd.Etc"}}</option>
                  <option value="once">{{localize "DX3rd.Once"}}</option>
                  {{/select}}
                </select>
                <input class="equip-value" type="text" name="system.createItem.items.{{key}}.exp" value="{{attr.exp}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.items.{{key}}.stock" value="{{attr.stock}}" data-dtype="Number"/>
                <input class="equip-value" type="text" name="system.createItem.items.{{key}}.procure" value="{{attr.procure}}" data-dtype="Number"/>
                <select class="equip-value" name="system.createItem.items.{{key}}.timing" data-dtype="String">
                  {{#select timing}}
                  <option value="-">-</option>
                  <option value="notCheck">{{localize "DX3rd.NotCheck"}}</option>
                  <option value="roll">{{localize "DX3rd.AfterRoll"}}</option>
                  <option value="major">{{localize "DX3rd.AfterMajor"}}</option>
                  <option value="reaction">{{localize "DX3rd.AfterReaction"}}</option>
                  <option value="turn">{{localize "DX3rd.AfterTurn"}}</option>
                  <option value="use">{{localize "DX3rd.AfterUse"}}</option>
                  <option value="round">{{localize "DX3rd.AfterRound"}}</option>
                  <option value="battle">{{localize "DX3rd.AfterScene"}}</option>
                  {{/select}}
                </select>
                <a class="equipment-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>
          
          {{/if}}
          
        </div>

        <!--Flags-->
        <div class="cell cell--uses space-between" >
          <label class="cell--title">
            {{localize "DX3rd.Flags"}}
            <input type="checkbox" name="system.flags.active" {{#if system.flags.active}} checked {{/if}} data-dtype="Boolean"/>
          </label>
          {{#if system.flags.active}}
          <input class="flag-value" type="text" name="system.flags.checkFlag" value="{{system.flags.checkFlag}}" data-dtype="String"/>
          <!--Owned-->
          <label class="cell--title">
            {{localize "DX3rd.Owned"}}
          </label>
          <div class="flags">
            <header class="flags-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Name"}}</span>
              <a class="flags-control" data-action="create" data-pos="owned" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="flags-list">
            {{#each system.flags.owned as |attr key|}}
              <li class="flag flexrow" data-attribute="{{key}}">
                <input class="flag-value" type="text" name="system.flags.owned.{{key}}.name" value="{{attr.name}}" data-dtype="String"/>
                <a class="flags-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>

          <!--Abilities modifications-->
          <label class="cell--title">
            {{localize "DX3rd.Effect"}}
          </label>
          <div class="flags">
            <header class="flags-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Key"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Value"}}</span>
              <a class="flags-control" data-action="create" data-pos="effects" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="flags-list">
            {{#each system.flags.effects as |attr k|}}
              <li class="flag flexrow" data-attribute="{{k}}">
                <select class="flag-key" name="system.flags.effects.{{k}}.key" data-dtype="String">
                  {{#select key}}
                  <option value="-">-</option>
                  <option value="attack">{{localize "DX3rd.Attack"}}</option>
                  <option value="dice">{{localize "DX3rd.Dice"}}</option>
                  <option value="add">{{localize "DX3rd.Add"}}</option>
                  <option value="critical">{{localize "DX3rd.Critical"}}</option>
                  <option value="critical_min">{{localize "DX3rd.CriticalMin"}}</option>
  
                  <option value="hp">{{localize "DX3rd.HP"}}</option>
                  <option value="init">{{localize "DX3rd.Init"}}</option>
                  <option value="armor">{{localize "DX3rd.Armor"}}</option>
                  <option value="guard">{{localize "DX3rd.Guard"}}</option>
                  <option value="saving">{{localize "DX3rd.Saving"}}</option>
                  <option value="move">{{localize "DX3rd.Move"}}</option>
  
                  <option value="major_dice">{{localize "DX3rd.MajorDice"}}</option>
                  <option value="major">{{localize "DX3rd.MajorAdd"}}</option>
                  <option value="major_critical">{{localize "DX3rd.MajorCritical"}}</option>
                  <option value="reaction_dice">{{localize "DX3rd.ReactionDice"}}</option>
                  <option value="reaction">{{localize "DX3rd.ReactionAdd"}}</option>
                  <option value="reaction_critical">{{localize "DX3rd.ReactionCritical"}}</option>
                  <option value="dodge_dice">{{localize "DX3rd.DodgeDice"}}</option>
                  <option value="dodge">{{localize "DX3rd.DodgeAdd"}}</option>
                  <option value="dodge_critical">{{localize "DX3rd.DodgeCritical"}}</option>
  
                  <option value="body_add">{{localize "DX3rd.BodyAdd"}}</option>
                  <option value="body_dice">{{localize "DX3rd.BodyDice"}}</option>
                  <option value="sense_add">{{localize "DX3rd.SenseAdd"}}</option>
                  <option value="sense_dice">{{localize "DX3rd.SenseDice"}}</option>
                  <option value="mind_add">{{localize "DX3rd.MindAdd"}}</option>
                  <option value="mind_dice">{{localize "DX3rd.MindDice"}}</option>
                  <option value="social_add">{{localize "DX3rd.SocialAdd"}}</option>
                  <option value="social_dice">{{localize "DX3rd.SocialDice"}}</option>

                  <!--Directly modifies an ability's properties. these are specially handled-->
                  <option value="current_uses">{{localize "DX3rd.Uses"}}</option>
                  <option value="modhp">{{localize "DX3rd.ModHP"}}</option>
                  <option value="modhp_max">{{localize "DX3rd.ModHP"}}{{localize "DX3rd.Max"}}</option>
                  <option value="modhp_min">{{localize "DX3rd.ModHP"}}{{localize "DX3rd.Min"}}</option>
                  <option value="modenc">{{localize "DX3rd.ModEncroach"}}</option>
                  <option value="modenc_max">{{localize "DX3rd.ModEncroach"}}{{localize "DX3rd.Max"}}</option>
                  <option value="modenc_min">{{localize "DX3rd.ModEncroach"}}{{localize "DX3rd.Min"}}</option>
                  <option value="timing">{{localize "DX3rd.Timing"}}</option>
                  {{/select}}
                </select>
                <input class="flag-value" type="text" name="system.flags.effects.{{k}}.value" value="{{attr.value}}" data-dtype="String"/>
                
                <a class="flags-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>

          <!--Items modification-->
          <label class="cell--title">
            {{localize "DX3rd.Items"}}
            <div class="flexrow">
              <span>{{localize "DX3rd.Override"}} </span>
              <input type="checkbox" name="system.flags.itemOverride" {{#if system.flags.itemOverride}} checked {{/if}} data-dtype="Boolean"/>
            </div>
          </label>
          <div class="flags">
            <select class="flag-key" name="system.flags.itemType" data-dtype="String">
              {{#select system.flags.itemType}}
              <option value="-">-</option>
              <option value="weapon">{{localize "DX3rd.Weapon"}}</option>
              <option value="protect">{{localize "DX3rd.Protect"}}</option>
              <option value="vehicle">{{localize "DX3rd.Vehicle"}}</option>
              <option value="item">{{localize "DX3rd.Items"}}</option>
              {{/select}}
            </select>
            <header class="flags-header flexrow">
              <span class="attribute-key">{{localize "DX3rd.Key"}}</span>
              <span class="attribute-key">{{localize "DX3rd.Value"}}</span>

              <a class="flags-control" data-action="create" data-pos="items" data-type="equipment"><i class="fas fa-plus"></i></a>
            </header>
      
            <ol class="flags-list">
            {{#each system.flags.items as |attr k|}}
              <li class="flag flexrow" data-attribute="{{k}}">
                <select class="flag-key" name="system.flags.items.{{k}}.key" data-dtype="String">
                  {{#select key}}
                  <option value="-">-</option>
                  <!--Weapon-->
                  {{#if (eq ../system.flags.itemType "weapon")}}
                  <option value="add">{{localize "DX3rd.Add"}}</option>
                  <option value="attack">{{localize "DX3rd.Attack"}}</option>
                  <option value="guard">{{localize "DX3rd.Guard"}}</option>
                  <option value="range">{{localize "DX3rd.Range"}}</option>
                  {{/if}}
                  <!--armor-->
                  {{#if (eq ../system.flags.itemType "protect")}}
                  <option value="dodge">{{localize "DX3rd.Dodge"}}</option>
                  <option value="init">{{localize "DX3rd.Init"}}</option>
                  <option value="armor">{{localize "DX3rd.Armor"}}</option>
                  {{/if}}
                  <!--vehicle-->
                  {{#if (eq ../system.flags.itemType "vehicle")}}
                  <option value="attack">{{localize "DX3rd.Attack"}}</option>
                  <option value="init">{{localize "DX3rd.Init"}}</option>
                  <option value="armor">{{localize "DX3rd.Armor"}}</option>
                  <option value="move">{{localize "DX3rd.Move"}}</option>
                  {{/if}}
                  <option value="exp">{{localize "DX3rd.EXP"}}</option>
                  <option value="stock">{{localize "DX3rd.Saving"}}</option>
                  {{/select}}
                </select>
                <input class="flag-value" type="text" name="system.flags.items.{{k}}.value" value="{{attr.value}}" data-dtype="String"/>
                <a class="flags-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
            {{/each}}
            </ol>
          </div>


          
          {{/if}}
          
        </div>
      </div>
    </div>

  </section>


</form>
